.navbar {
    margin-bottom: 1rem;
}
#flag {
    width: 3rem;
    margin-left: 0.5rem;
}
#msg-div {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}
.card {
    margin-top: 1rem;
}
