.navbar {
    margin-bottom: 1rem;
}
#flag {
    width: 3rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}
.msg-div {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}
.card-body p {
    line-height: normal;
}
