<!DOCTYPE html>
<html lang="it">
<head>
    {% include "head.html" %}
    <title>CRUD</title>
</head>
<body>
{% include "navbar.html" %}
<div class="container">
    <form action="/crud" class="mb-3" method="post">
        <div class="input-group">
            <select class="form-select" id="collection" name="collection">
                <option value="food">Food</option>
                <option value="global_dataset">Global Dataset</option>
                <option value="global_inflation">Global Inflation</option>
            </select>
            <input class="btn btn-primary" type="submit" value="Cambia collection">
            <a class="btn btn-success ms-2" href="/crud/create?collection={{ collection }}" id="create-button">Crea
                documento</a>
        </div>
    </form>

    <div class="row">
        {% for key, value in data.items() %}
        <div class="col-sm-3 mt-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ key }}</h5>
                    {% for k, v in value.items() %}
                    <p><strong>{{ k }}:</strong> {{ v }}</p>
                    {% endfor %}
                    <a class="btn btn-primary mt-2" href="/crud/update?collection={{ collection }}&id={{ key }}">Aggiorna</a>
                    <a class="btn btn-danger mt-2"
                       href="/crud/delete?collection={{ collection }}&id={{ key }}">Rimuovi</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", (event) => {
        document.getElementById('collection').value = '{{ collection }}';
    });
</script>
</body>
</html>
