<!DOCTYPE html>
<html lang="it">
<head>
    {% include "head.html" %}
    <title>CRUD</title>
</head>
<body>
{% include "navbar.html" %}
<div class="container">
    <form id="form" class="mb-3" method="get">
        <div class="input-group">
            <select class="form-select" id="collection" name="collection">
                <option value="food">Food</option>
                <option value="global_dataset">Global Dataset</option>
                <option value="global_inflation">Global Inflation</option>
            </select>
            <input class="btn btn-success" type="submit" value="Crea Documento">
        </div>
    </form>

    <div class="row">
        {% for key, value in data.items() %}
        <div class="col-sm-3 mt-3">
            <div class="card h-100">
                <div class="card-body">
                    <h6 class="card-title">{{ key }}</h6>
                    {% for k, v in value.items() %}
                    <p class="card-text mb-auto"><strong>{{ k }}:</strong> {{ v }}</p>
                    {% endfor %}
                    <a class="btn btn-primary mt-2" href="/crud/update?collection={{ collection }}&id={{ key }}">Aggiorna</a>
                    <a class="btn btn-danger mt-2 btn-del" href="/crud/delete?collection={{ collection }}&id={{ key }}">Rimuovi</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Conferma rimozione</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Sei sicuro di voler rimuovere questo documento?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
        <a href="#" class="btn btn-danger" id="confirmDelete">Rimuovi</a>
      </div>
    </div>
  </div>
</div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", (event) => {
        document.getElementById('collection').value = '{{ collection }}';

        document.querySelectorAll('.btn-del').forEach((btn) => {
            btn.addEventListener('click', function(event) {
                event.preventDefault();
                const href = btn.getAttribute('href');
                document.getElementById('confirmDelete').setAttribute('href', href);
                const myModal = new bootstrap.Modal(document.getElementById('confirmModal'));
                myModal.show();
            });
        });

        document.getElementById('form').addEventListener('submit', function(event) {
            event.preventDefault();
            window.location.href = '/crud/create?collection={{ collection }}';
        });

        document.querySelector('#collection').addEventListener('change', function(event) {
            window.location.href = '/crud/read/' + event.target.value;
        });
    });
</script>
</body>
</html>
