<!DOCTYPE html>
<html lang="it">
<head>
    {% include "head.html" %}
    <title>Inflazione Europea</title>
</head>
<body>
{% include "navbar.html" %}
<div class="container">
    <div class="msg-div">
        <h4 id="mes">Inflazione annuale nell'Unione Europea</h4>
        <img alt="flag" id="flag" src="https://flagcdn.com/256x192/eu.png">
    </div>
    <div id="graph1"></div>

    <div class="msg-div mt-5">
        <h4>Inflazione annuale dei paesi del G7</h4>
        <img src="/img/melons.jpg" alt="Melons" style="width: 3rem; margin-left: 0.5rem">
    </div>
    <div id="graph2"></div>

    <script defer>
        document.addEventListener("DOMContentLoaded", (event) => {
            let graphs1 = {{ euGraphJSON | safe }};
            Plotly.newPlot('graph1', graphs1, {});

            let graphs2 = {{ g7GraphJSON | safe }};
            Plotly.newPlot('graph2', graphs2, {});
        });
    </script>
</div>
</body>
</html>
