<footer class="bg-dark text-center w-100 pt-4 pb-3 ">
    <div class="row text-white" style="--bs-gutter-x: 0;">
        <div class="col-md-4">
            <h5>Contatti</h5>
            <ul class="list-unstyled">
                <li><a href="mailto:g.donisi1@studenti.unisa.it">g.donisi1@studenti.unisa.it</a></li>
                <li><a href="mailto:f.maddaloni2@studenti.unisa.it">f.maddaloni2@studenti.unisa.it</a></li>
                <li><a href="mailto:a.pascale37@studenti.unisa.it">a.pascale37@studenti.unisa.it</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5>Seguici</h5>
            <ul class="list-inline mt-3">
                <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/StudiUmanisticiLinkLecce/posts/2231183477097899/">
                    <i id="fb" class="fa-brands fa-facebook"></i></a></li>
                <li class="list-inline-item"><a target="_blank" href="https://x.com/GiorgiaMeloni">
                    <i id="tx" class="fa-brands fa-x-twitter"></i></a></li>
                <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/p/C6RlW8HtlQv/">
                    <i id="ig" class="fa-brands fa-instagram"></i></a></li>
                <li class="list-inline-item"><a target="_blank" href="https://www.youtube.com/watch?v=h9uFQv3t1AU">
                    <i id="yt" class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <p>&copy; 2024 Lenticchie S.p.A.<br>Tutti i diritti riservati.</p>
        </div>
    </div>
</footer>
