<footer class="bg-dark text-center w-100 pt-4 pb-3 ">
    <div class="row text-white" style="--bs-gutter-x: 0;">
        <div class="col-md-4">
            <h5>Contatti</h5>
            <ul class="list-unstyled">
                <li><a href="mailto:g.donisi1@studenti.unisa.it">g.donisi1@studenti.unisa.it</a></li>
                <li><a href="mailto:f.maddaloni2@studenti.unisa.it">f.maddaloni2@studenti.unisa.it</a></li>
                <li><a href="mailto:a.pascale37@studenti.unisa.it">a.pascale37@studenti.unisa.it</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5>Seguici</h5>
            <ul class="list-inline mt-3">
                <li class="list-inline-item"><a href="#"><i id="fb" class="fa-brands fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#"><i id="tx" class="fa-brands fa-x-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#"><i id="ig" class="fa-brands fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#"><i id="tt" class="fa-brands fa-tiktok"></i></a></li>
                <li class="list-inline-item"><a href="#"><i id="yt" class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <p>&copy; 2024 Lenticchie S.p.A.<br>Tutti i diritti riservati.</p>
        </div>
    </div>
</footer>
