<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="icon" href="/favicon.png" sizes="192x192" type="image/png">
    <title>{{ title }}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/bootstrap.bundle.min.js" defer></script>
    <script src="/js/plotly.min.js" defer></script>
    <script src="/js/script.js" defer></script>
</head>
