<!DOCTYPE html>
<html lang="it">
<head>
    {% include "head.html" %}
    <title>Inflazione annua per Paese</title>
</head>
<body>
<div class="page-container">
{% include "navbar.html" %}
<div class="container">
    <h3>Inflazione annua per Paese</h3>
    <form action="/inflation-by-country" id="countryForm" method="POST">
        <div class="form-group my-3">
            <label for="countrySelect">Seleziona il Paese</label>
            <input class="form-control" id="countrySelect" list="countries" name="country" required>
            <datalist id="countries">
                {% for country in countries %}
                <option value="{{ country }}">
                    {% endfor %}
            </datalist>
        </div>
        <button class="btn btn-primary" type="submit">Invia</button>
    </form>
    <div class="toast-container bottom-0 start-0 mb-3 ms-2">
    <div aria-atomic="true" aria-live="assertive" class="toast align-items-center text-bg-danger border-0" id="error-toast"
         role="alert">
        <div class="d-flex">
            <div class="toast-body">
                Inserisci un paese valido prima di continuare.
            </div>
            <button aria-label="Close" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    type="button"></button>
        </div>
    </div>
    </div>

    <div class="msg-div">
        <h4 id="mes"></h4>
        <img id="flag">
    </div>
    <div id="graph"></div>
    <script defer>
        document.addEventListener("DOMContentLoaded", (event) => {
            document.getElementById('countryForm').addEventListener('submit', function (event) {
                let input = document.getElementById('countrySelect');
                let list = document.getElementById('countries');
                let options = Array.from(list.options).map(function (option) {
                    return option.value;
                });
                if (!options.includes(input.value)) {
                    bootstrap.Toast.getOrCreateInstance(document.getElementById('error-toast')).show();
                    event.preventDefault();
                }
            });

            let graphs = {{ graphJSON | safe }};
            if (!graphs)
                return;

            console.log(graphs);
            Plotly.newPlot('graph', graphs, {});
            document.getElementById('mes').innerText = "Inflazione annua di: {{ paese }}";
            {% if ccode %}
            document.getElementById('flag').src = "https://flagcdn.com/256x192/{{ ccode }}.png";
            {% endif %}
        });
    </script>
</div>
{% include "footer.html" %}
</div>
</body>
</html>
