<!DOCTYPE html>
<html lang="it">
<head>
    {% include "head.html" %}
    <title>Paese con massima inflazione</title>
</head>
<body>
{% include "navbar.html" %}
<div class="container">
    <h3 class="mt-4">Paese con massima inflazione</h3>
    <form class="mt-4" method="POST">
        <div class="mb-3">
            <label class="form-label" for="year">Inserisci l'anno:</label>
            <input class="form-control" id="year" max="2024" min="1980" name="year" required step="1" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    {% if country %}
    <div class="msg-div">
        <h4>Paese con inflazione massima nel {{year}}: {{country}} ({{ inflation_value }}%)</h4>
        {% if ccode %}<img id="flag" src="https://flagcdn.com/48x36/{{ ccode }}.png">{%endif%}
    </div>
    {%endif%}
</div>
</body>
</html>