{% with title="Paese con inflazione massima" %}
{% include "head.html" %}
{% endwith %}
<body>
{% include "navbar.html" %}
<div class="container">
    <h3 class="mt-4">Inflazione media per Paese</h3>
    <form method="POST" action="/mean" id="countryForm">
    <div class="form-group my-3">
        <label for="countrySelect">Seleziona il Paese</label>
        <input class="form-control" id="countrySelect" name="country" list="countries" required>
        <datalist id="countries">
            {% for country in countries %}
                <option value="{{ country }}">
            {% endfor %}
        </datalist>
    </div>
    <button type="submit" class="btn btn-primary">Invia</button>
    </form>
    <div id="error-toast" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          Inserisci un paese valido prima di continuare.
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
    <script defer>
        document.getElementById('countryForm').addEventListener('submit', function(event) {
            var input = document.getElementById('countrySelect');
            var list = document.getElementById('countries');
            var options = Array.from(list.options).map(function(option) {
                return option.value;
            });
            if (!options.includes(input.value)) {
                bootstrap.Toast.getOrCreateInstance(document.getElementById('error-toast')).show();
                event.preventDefault();
            }
        });
    </script>
    {% if inflation_value %}
    <div id="msg-div">
        <h4>La media dell'inflazione dal 1980 al 2024 di {{ paese }} è {{ inflation_value }}%</h4>
        {% if ccode %}<img id="flag" src="https://flagsapi.com/{{ccode}}/shiny/64.png">{% endif %}
    </div>
    {%endif%}
</div>
</body>
</html>
