<nav class="navbar navbar-expand-md bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link" href="/"><i class="fa-solid fa-house"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link" href="/crud/read"><i class="fa-solid fa-database"></i> CRUD</a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link" href="/max-inflation"><i class="fa-solid fa-arrow-up"></i> Massima</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/inflation-by-country"><i class="fa-solid fa-earth-europe"></i> Per paese</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/eu-g7"><i class="fa-solid fa-euro-sign"></i> Europea</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mean"><i class="fa-solid fa-chart-line"></i> Media</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/food-infl"><i class="fa-solid fa-wheat-awn"></i> Alimentare</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
