<!DOCTYPE html>
<html lang="it">
<head>
{% with title="Test" %}
    {% include "head.html" %}
{% endwith %}
</head>
<body>
{% include "navbar.html" %}
<div class="container">
    <table class="table table-striped table-hover table-bordered table-sm align-middle">
      <thead>
        <tr>
        {% for value in data.values() %}
        {% for key in value.keys() %}
        <th scope="col">{{ key }}</th>
        {% endfor %}
        {% break %}
        {% endfor %}
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for value in data.values() %}
        <tr>
        {% for v in value.values() %}
        <td>{{ v }}</td>
        {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

</div>
</body>
</html>
